name: Atualizar Reposit칩rios Recentes



on:
  schedule:
    - cron: '0 0 * * *'  # Executa diariamente  meia-noite
  workflow_dispatch:      # Permite execu칞칚o manual

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout do Reposit칩rio
        uses: actions/checkout@v4

      - name: Buscar Reposit칩rios Recentes
        id: fetch-repos
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        run: |
          # Salvar o conte칰do em um arquivo tempor치rio
          echo -e "## 游 Projetos Recentes\n\n<!-- PROJECTS_START -->\n${{ steps.fetch-repos.outputs.repos }}\n<!-- PROJECTS_END -->" > section.txt
          # Usar perl para substitui칞칚o mais confi치vel
          perl -i -0pe 's/## 游 Projetos Recentes.*?<!-- PROJECTS_END -->/$(cat section.txt)/s' README.md

      - name: Atualizar README
        run: |
          # Cria a se칞칚o de projetos
          SECTION="## 游 Projetos Recentes\n\n<!-- PROJECTS_START -->\n${{ steps.fetch-repos.outputs.repos }}\n<!-- PROJECTS_END -->"

          # Substitui no README.md
          sed -i "s|## 游 Projetos Recentes.*<!-- PROJECTS_END -->|$SECTION|" README.md

      - name: Commit e Push
        run: |
          git config --global user.name "Luan Muzy"
          git config --global user.email "luan.b.muzy@gmail.com"
          git add README.md
          git commit -m "游댃 Atualiza칞칚o autom치tica de reposit칩rios"
          git push
